body {
    background: #ccc;
    border: 2px #505050;
    border-radius: 5px;
}

#title, .subtitle, .post_title {
    color: blue;
}

title {
    margin-bottom: 15px;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-top: 15px;
}

.post_a {
    background: wheat;
    color: darkblue;
    margin-top: 15px;
}