body {
    background: #f7f7f7;
}

.photo {
    border: 5px;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: #505050;
}

title {
    margin-bottom: 15px;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-top: 15px;
    border-radius: 5px;
}

.post_a {
    background: wheat;
    color: darkblue;
    margin: 0;
    margin-top: 15px;
}